In [5]:
import pandas as pd

In [7]:
pd.read_csv("https://github.com/pythonai200425/pages/raw/main/csv/mpg.csv").head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [2]:
# Load the dataset

# Q1.1: Sort by mpg in ascending order
sorted_df = df.sort_values(by="mpg", ascending=True)

# Display the result
print(sorted_df.head())

     mpg  cylinders  displacement horsepower  weight  acceleration  \
28   9.0          8         304.0        193    4732          18.5
25  10.0          8         360.0        215    4615          14.0
26  10.0          8         307.0        200    4376          15.0
67  11.0          8         429.0        208    4633          11.0
27  11.0          8         318.0        210    4382          13.5

    model_year  origin             name
28          70       1         hi 1200d
25          70       1        ford f250
26          70       1        chevy c20
67          72       1  mercury marquis
27          70       1       dodge d200

In [4]:
# Find how many cars of each cylinders type exist
df['cylinders'].value_counts()

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

In [9]:
#2.2 Count the number of cars from each origin
origin_counts = df['origin'].value_counts()

print(origin_counts)

origin
1    249
3     79
2     70
Name: count, dtype: int64

In [15]:
# Count how many cars belong to each model year
year_counts = df['model_year'].value_counts()

# Find the model year with the most cars
most_common_year = year_counts.idxmax()
most_common_count = year_counts.max()

print(f"Model year of most cars:", most_common_year ,most_common_count)

Model year of most cars: 73 40