In [5]:
import pandas as pd

In [7]:
pd.read_csv("mpg.csv").head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [43]:
#1.1: Sort by mpg in ascending order
sorted_df = df.sort_values(by="mpg", ascending=True)

print(sorted_df.head())

     mpg  cylinders  displacement horsepower  weight  acceleration  \
28   9.0          8         304.0        193    4732          18.5
25  10.0          8         360.0        215    4615          14.0
26  10.0          8         307.0        200    4376          15.0
67  11.0          8         429.0        208    4633          11.0
27  11.0          8         318.0        210    4382          13.5

    model_year  origin             name
28          70       1         hi 1200d
25          70       1        ford f250
26          70       1        chevy c20
67          72       1  mercury marquis
27          70       1       dodge d200

In [44]:
#1.2 Find how many cars of each cylinders type exist
each_cylinders = df['cylinders'].value_counts()
print(each_cylinders)

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

In [33]:
#1.3 Sort by mpg in descending order and show top 10
top_mpg_cars = df.sort_values(by='mpg', ascending=False).head(10)

print(top_mpg_cars[['mpg', 'name']])

      mpg                             name
322  46.6                        mazda glc
329  44.6              honda civic 1500 gl
325  44.3             vw rabbit c (diesel)
394  44.0                        vw pickup
326  43.4               vw dasher (diesel)
244  43.1  volkswagen rabbit custom diesel
309  41.5                        vw rabbit
330  40.9             renault lecar deluxe
324  40.8                       datsun 210
247  39.4                   datsun b210 gx

In [34]:
#2.1 Find how many cars of each cylinders type exist
each_cylinders = df['cylinders'].value_counts()

print(each_cylinders)

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

In [35]:
#2.2 Count the number of cars from each origin
origin_counts = df['origin'].value_counts()

print(origin_counts)

origin
1    249
3     79
2     70
Name: count, dtype: int64

In [36]:
#2.3 Count how many cars belong to each model year
year_counts = df['model_year'].value_counts()

# Find the model year with the most cars
most_common_year = year_counts.idxmax()
most_common_count = year_counts.max()

print(f"Model year of most cars:", most_common_year ,most_common_count)

Model year of most cars: 73 40

In [37]:
#3.1 Group by cylinders and calculate the average mpg
avg_mpg_by_cyl = df.groupby('cylinders')['mpg'].mean()

print(avg_mpg_by_cyl)

cylinders
3    20.550000
4    29.286765
5    27.366667
6    19.985714
8    14.963107
Name: mpg, dtype: float64

In [38]:
#3.2 Group by origin and find the maximum horsepower
max_hp_by_origin = df.groupby('origin')['horsepower'].max()

print(max_hp_by_origin)

origin
1     ?
2     ?
3    97
Name: horsepower, dtype: object

In [39]:
#3.3 Group by model_year and calculate both mean and median of weight
weight_stats_by_year = df.groupby('model_year')['weight'].agg(['mean', 'median'])

print(weight_stats_by_year)

                   mean  median
model_year
70          3372.793103  3449.0
71          2995.428571  2798.0
72          3237.714286  2956.0
73          3419.025000  3338.5
74          2877.925926  2489.0
75          3176.800000  3098.5
76          3078.735294  3171.5
77          2997.357143  2747.5
78          2861.805556  2910.0
79          3055.344828  3190.0
80          2436.655172  2335.0
81          2522.931034  2385.0
82          2453.548387  2525.0

In [40]:
#4.1 Count the number of unique car names
unique_car_names = df['name'].nunique()

print(f"Number of unique car names: {unique_car_names}")

Number of unique car names: 305

In [41]:
#4.2 List all unique cylinder values
unique_cylinders = df['cylinders'].unique()

print(unique_cylinders)

[8 4 6 3 5]

In [42]:
#4.3 Count unique model_year values
unique_years = df['model_year'].nunique()

print(f"Number of unique model_year values:", unique_years)

Number of unique model_year values: 13